# {{ ansible_managed }}

[Unit]
Description=Redis Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=always
ExecStart=/usr/bin/redis_exporter \
    -web.listen-address ":9121" \
    -redis.addr "redis://127.0.0.1:{{ redis_port }}"

[Install]
WantedBy=multi-user.target
